@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: black;
    color: white;
    border-bottom: 0.5px solid gray;
    width: 100%;
    line-height: 80px;
    height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto';
}

.navbar a{
    text-decoration: none;
    color: #d8d8d8;
}

.navbar a.nav-logo{

}